.Todo-list-container{
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width:80rem;
  border:1px solid black;
  min-height:50rem;
  /* background-color:palevioletred; */
  background-image: radial-gradient(circle, #d985b5, #d979b3, #d96cb1, #d85eb0, #d64faf, #c860cc, #b272e6, #9383fc, #28acff, #00ccff, #00e6ff, #5ffbf1);
  border: radius 1rem; 
}

.todo-form{
  
  display: flex;
  width: 100%;
  margin-top:3rem;
  font-size: 2rem;
  gap:2rem;

}

.todo-form input{
  border: 1px solid black;;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.todo-form input::placeholder{
  font-size: 2rem;
  
}
.todo-form button{
  border: 1px solid black;
  border-radius:1rem ;
  background-color: white;
  padding: 1rem;
  cursor: pointer;
  font-weight:600;
  font-size: 2.5rem;
 
}

.todo-form button:hover{
  background-color: black;
  color:white;
  font-weight: 600;
}

.task-div{
  background-color: aliceblue;
  padding: 2rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  box-shadow:0.5rem 0.5rem 1rem rgb(45, 8, 8) ;
}

.todo-text{
  font-size: 2.5rem;
}

.icons{
  display: flex;
  gap:3rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.complete{
  text-decoration: line-through;
  opacity: 0.5;
  background-color: rgb(30, 231, 231);

}

.hide{
  display: none;
}



/* media screen */

@media only screen and (max-width: 1127px) {
  
  .Todo-list-container {
    width: 51rem;
    height: 60rem;
  }
}
@media only screen and (max-width: 768px) {
  
  .Todo-list-container {
    width: 51rem;
    height: 60rem;
  }
}
@media only screen and (max-width: 511px) {
  
  .Todo-list-container {
    width: 41rem;
    height: 60rem;
  }
  .todo-form input{
    font-size: 1.8rem;
    padding: 0.8rem;
  }
}
@media only screen and (max-width: 417px){
  .Todo-list-container {
    width: 35rem;
    height: 40rem;
  }
  .todo-form input{
    font-size: 1.2rem;
    padding: 0.8rem;
  }
}
@media only screen and (max-width: 300px){
  .Todo-list-container {
    width: 25rem;
    height: 40rem;
  }
  .todo-form input{
    font-size: 1rem;
    padding: 0.1rem
  }
  .todo-form button{
    font-size: 1rem;
    
    padding: 1rem 1rem;
    
    font-weight: 300;
  }
  .task-div{
    
    padding: 0.2rem;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.621);
    border-radius: 1rem;
  }
}


/* @media only screen and (max-width: 375px){
  .Todo-list-container {
    width: 25rem;
    height: 40rem;
  }
  .todo-form input{
    font-size: 1rem;
    padding: 1.1rem;
  }
  .todo-form button{
    font-size: 1rem;
    
    padding: 1rem 1rem;
    
    font-weight: 300;
  }
  .task-div{
    
    padding: 0.2rem;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.621);
    border-radius: 1rem;
  }
} */


@media only screen and (max-width: 280px){
  .Todo-list-container {
    width: 25rem;
    height: 40rem;
  }
  .todo-form input{
    font-size: 1rem;
    padding: 1.1rem;
  }
  .todo-form button{
    font-size: 1rem;
    
    padding: 1rem 1rem;
    
    font-weight: 300;
  }
  .task-div{
    
    padding: 0.2rem;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.621);
    border-radius: 1rem;
  }
}